DirectoryIndex index.php
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteOptions inherit
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule your-api/version-number/(.*)$ /your/file/dir/index.php?request=$1 [QSA,NC,L]
</IfModule>